#whatsapp-widget{
    position: fixed;
    left: 5px;
    top: 80%;
    transform: translateY(-50%);
    z-index: 1000;
}

#whatsapp-widget a{
    display:block;
    margin-bottom:10px;
}

#whatsapp-widget a:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#whatsapp-widget img.call-widget{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#whatsapp-widget img.footer_whatsapp {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);*/
}

.addtocart {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 59;
    float: right;
    color: #000;
    border-radius: 5px;
    padding: 2px 5px;
    text-align: center;
    font-size: 25px;
    background-color: #FFF;
    cursor: pointer;
}

.addtocart:hover{
    background-color: #FFF;
    color: #FFDD06;
}

.addtocart.carted {
    color: green;
}

.bikebooked {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 100;
    float: right;
    color: #FFF;
    border-radius: 5px;
    padding: 2px 5px;
    text-align: center;
    font-size: 18px;
    background-color: red;
}

.bikebooked:hover{
    background-color: red;
    color: #FFDD06;
}

.cart-sidebar table th, .cart-sidebar table td{
    padding: 12px 20px;
}

.single-icon:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0,.5);
}

.single-icon {
    background: #fff;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid lavender;
    min-width: 100px;
}

.single-icon span{
    display: block;
    width: 100%;
    font-size: 14px;
}

.single-icon img{
    display: block;
    width: 30px;
    margin: auto;
    margin-top: 5px;
}

.bg-light{
    background-color: #f8f9fa !important;
}

.font-sm {
    font-size: 12px;
}

.font-md {
    font-size: 14px;
}

.custom_bike .col-xl-6{
    padding: 2px;
}

.custom_bike input {
    padding: 5px 3px;
    border: 0;
    font-size: 14px;
    outline: 0;
}

.custom_bike .form-select {
    padding: 5px 10px;
    font-size: 14px;
    color: black;
    margin: auto;
}

.custom_bike span{
    vertical-align: middle;
}

.cart-minus:hover, .cart-plus:hover{
    background-color: #FFDC00 !important;
    color: #000 !important;
    border: 1px solid #FFDC00 !important;
}

.border-bottom-primary{
    border-bottom: 1px solid #efeadb !important;
}

.todivider {
    display: block;
    padding: 2px;
    position: absolute;
    left: 46%;
    top: 12%;
    font-size: 18px;
    font-weight: 700;
    color: #FFDD06;
    /* height: 100px; */
    width: 30px;
    text-align: center;
    padding-top: 8%;
}

label.text-black.font-md.mb-1 {
    border-bottom: 2px solid #FFDD06;
}

.custom_bike .col-xl-6, .custom_bike .col-xl-8 {
    padding: 2px;
    margin: 0;
}

.float-left{
    float: left !important;
}

.rentals table tr td{
    padding:8px 10px;font-size:14px;font-weight:500;
    text-align: center;
}

.rentals table tr th{
    text-align: center;
}

.rentals table tr td {
    padding: 10px 5px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
}

span#bike_availability {
    display: inline-block;
    margin: 10px 2px;
}

.text-sm{
    font-size: 12px;
}

.lightbox {
    display: none;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 70%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.lightbox .offer_code{
    font-weight: 800;
    color: greenyellow;
    text-align: center;
    width: 250px;
    font-size: 40px;
    margin: auto;
    text-decoration: underline;
}

.lightbox .offer_image, .lightbox .offer_expiry{
    float: left;
}

.lightbox .offer_image {
    width: 30%;
    padding: 0;
    margin: 0;
    height: 100%;
}

p.offer_timer {
    background-color: black;
    color: white;
    font-size: x-large;
    width: 80%;
    margin: auto;
}
.lightbox .offer_expiry {
    width: 70%;
    height: 100%;
    padding: 5%;
    margin: 0;
    text-align: center;
}

.lightbox .box {
    position: relative;
    padding: 0px;
    top: 20%;
    left: 25%;
    background-color: #FFF;
    width: 50%;
    border-radius: 15px;
    overflow: hidden;
    height: 280px;
    border: 5px solid white;
}

.lightbox h2 {
    font-size: 40px;
    font-family: arial;
    color: whitesmoke;
}

.close {
    position: absolute;
    left: 95%;
    top: 8px;
    margin: 0px;
    width: 30px;
    height: 30px;
    color: black;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.w-30{
    width: 30% !important;
}

