#whatsapp-widget{
    position: fixed;
    left: 5px;
    top: 80%;
    transform: translateY(-50%);
    z-index: 1000;
}

#whatsapp-widget a{
    display:block;
    margin-bottom:10px;
}

#whatsapp-widget a:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#whatsapp-widget img.call-widget{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#whatsapp-widget img.footer_whatsapp {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);*/
}

.addtocart {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 59;
    float: right;
    color: #000;
    border-radius: 5px;
    padding: 2px 5px;
    text-align: center;
    font-size: 25px;
    background-color: #FFF;
    cursor: pointer;
}

.addtocart:hover{
    background-color: #FFF;
    color: #FFDD06;
}

.addtocart.carted {
    color: green;
}

.bikebooked {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 100;
    float: right;
    color: #FFF;
    border-radius: 5px;
    padding: 2px 5px;
    text-align: center;
    font-size: 18px;
    background-color: red;
}

.bikebooked:hover{
    background-color: red;
    color: #FFDD06;
}

.cart-sidebar table th, .cart-sidebar table td{
    padding: 12px 20px;
}

.single-icon:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0,.5);
}

.single-icon {
    background: #fff;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid lavender;
    min-width: 100px;
}

.single-icon span{
    display: block;
    width: 100%;
    font-size: 14px;
}

.single-icon img{
    display: block;
    width: 30px;
    margin: auto;
    margin-top: 5px;
}

.bg-light{
    background-color: #f8f9fa !important;
}

.font-sm {
    font-size: 12px;
}

.font-md {
    font-size: 14px;
}

.custom_bike .col-xl-6{
    padding: 2px;
}

.custom_bike input {
    padding: 5px 3px;
    border: 0;
    font-size: 14px;
    outline: 0;
}

.custom_bike .form-select {
    padding: 5px 10px;
    font-size: 14px;
    color: black;
    margin: auto;
}

.custom_bike span{
    vertical-align: middle;
}

.cart-minus:hover, .cart-plus:hover{
    background-color: #FFDC00 !important;
    color: #000 !important;
    border: 1px solid #FFDC00 !important;
}

.border-bottom-primary{
    border-bottom: 1px solid #efeadb !important;
}

.todivider {
    display: block;
    padding: 2px;
    position: absolute;
    left: 46%;
    top: 12%;
    font-size: 18px;
    font-weight: 700;
    color: #FFDD06;
    /* height: 100px; */
    width: 30px;
    text-align: center;
    padding-top: 8%;
}

label.text-black.font-md.mb-1 {
    border-bottom: 2px solid #FFDD06;
}

.custom_bike .col-xl-6, .custom_bike .col-xl-8 {
    padding: 2px;
    margin: 0;
}

.float-left{
    float: left !important;
}

.float-right{
    float: right !important;
}

.bg-warning-light {
  background-color: #fff3cd !important;
  border-color: rgba(11, 22, 63, 0.07);
}

.rentals table tr td{
    padding:8px 10px;font-size:14px;font-weight:500;
    text-align: center;
}

.rentals table tr th{
    text-align: center;
}

.rentals table tr td {
    padding: 10px 5px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
}

span#bike_availability {
    display: inline-block;
    margin: 10px 2px;
}

.text-sm{
    font-size: 12px;
}

.lightbox {
    display: none;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 70%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.lightbox .offer_code{
    font-weight: 600;
    text-align: center;
    width: 250px;
    font-size: 25px;
    margin: auto;
}

.lightbox .cc_code{
    color: greenyellow;
    font-weight: 700;
}

.lightbox .offer_image, .lightbox .offer_expiry{
    float: left;
}

.lightbox .offer_image {
    width: 250px;
    padding: 0;
    margin: 0;
    height: 100%;
}

p.offer_timer {
    background-color: black;
    color: white;
    font-size: x-large;
    width: 80%;
    margin: auto;
}
.lightbox .offer_expiry {
    width: 340px;
    height: 100%;
    padding: 20px 10px;
    margin: 0;
    text-align: center;
}

.lightbox .box {
    position: relative;
    padding: 0px;
    top: 20%;
    background-color: #FFF;
    width: 600px;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    height: 300px;
    border: 5px solid white;
}

.lightbox h2 {
    font-size: 35px;
    color: whitesmoke;
}

.close {
    position: absolute;
    left: 94%;
    top: 8px;
    margin: 0px;
    width: 30px;
    height: 30px;
    color: black;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.w-30{
    width: 30% !important;
}

.w-40{
    width: 40% !important;
}

.w-45{
    width: 45% !important;
}

.w-70{
    width: 70% !important;
}

ul.footer-nav {
    display: block;
}

@media(max-width: 575.98px){
    .footer-links{
        text-align: center !important;
    }
    ul.footer-nav{
        margin-left: 5px !important;
    }
    .footer-section .text-end{
        text-align: left !important;
    }
    img.footerlogo {
        max-width: 85%;
        margin: auto;
        display: block;
    }
    .logo-wrapper img{
        margin-top: 10px !important;
    }
    .dsm-none{
        display: none !important;
    }

    .dsm-block{
        display: flex !important;
        justify-content: center;
    }

    #whatsapp-widget-mobile .btn{
        width: 100%;
        border-radius: 0;
        border: 0 solid #000;
        text-align: center;
        margin: auto;
        padding: 10px;
        color: #FFF;
        font-size: 15px;
    }

    #whatsapp-widget-mobile .btn:nth-child(1){
        border-right: 1px solid #fff;
    }

    #whatsapp-widget-mobile{
        background-color: #FFF;
        position: fixed;
        bottom: -1px;
        z-index: 999;
        width: 100%;
    }

    .footer-section{
        padding-bottom:55px;
    }
    .theme-scrolltop-btn{
        bottom: 140px !important;
    }
}


@media (max-width: 575.98px) {
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-6 {
        width: 49.33333333%;
    }
}

@media (min-width: 800px){
    #whatsapp-widget{
        top:75%;
    }
}

/* cart css  */

@media (max-width: 800px){
    .shopping-cart-left .table-bottom {
        padding: 0 20px 14px;
    }
}