#whatsapp-widget{
    position: fixed;
    left: 5px;
    top: 80%;
    transform: translateY(-50%);
    z-index: 1000;
}

#whatsapp-widget a{
    display:block;
    margin-bottom:10px;
}

#whatsapp-widget a:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#whatsapp-widget img.call-widget{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#whatsapp-widget img.footer_whatsapp {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);*/
}

.addtocart {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 100;
    float: right;
    color: #000;
    border-radius: 5px;
    padding: 2px 5px;
    text-align: center;
    font-size: 25px;
    background-color: #FFF;
    cursor: pointer;
}

.addtocart:hover{
    background-color: #FFF;
    color: #FFDD06;
}

.addtocart.carted {
    color: green;
}

.cart-sidebar table th, .cart-sidebar table td{
    padding: 12px 20px;
}

.single-icon:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0,.5);
}

.single-icon {
    background: #fff;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid lavender;
}

.single-icon span{
    display: block;
    width: 100%;
    font-size: 14px;
}

.single-icon img{
    display: block;
    width: 30px;
    margin: auto;
    margin-top: 5px;
}